{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post_list' %}">< Back</a>
        </div>
    </div>
</div>

     <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h3><strong>{{ post.author }}</strong></h3>
            <p>{{ post.created_on }}
                {% if request.user == post.author %}
                <a href="{% url 'post_edit' post.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
                <a href="{% url 'post_delete' post.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ post.body }}</p>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method = "POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit</button>
                </div>
            </form>
            <br>
        </div>
    </div>
    {% for comment in comments %}
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p>
                <strong>{{comment.author }}</strong> {{comment.created_on }}
                {% if request.user == comment.author %}
                <a href="{% url 'comment_edit' post.pk comment.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
                <a href="{% url 'comment_delete' post.pk comment.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                {% endif %}
            </p>
            <p>{{ comment.comment }}</p>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock content %}