{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
        </div>
        <a href="{% url 'home' %}">< Back</a>
    </div>
</div>
<div class="container">

<h1 class="text-center">Privacy</h1>
    <hr>
    <br>
<p>These Terms of Use ("Terms") were last updated on May 20, 2021.</p>
<p>a2z Learning Store's mission is to improve lives through learning. We enable anyone anywhere to create and share educational content (instructors) and to access that educational content to learn (students). We consider our marketplace model the best way to offer valuable educational content to our users. We need rules to keep our platform and services safe for you, us, and our student and instructor community. These Terms apply to all your activities
    on the a2z Learning Store website, the Udemy mobile applications, our TV applications, our APIs, and other related services (“Services”).</p>
<p>If you publish a course on the Udemy platform, you must also agree to the Instructor Terms. We also provide details regarding our processing of personal data of our students and instructors in our Privacy Policy. If you
    are using a2z Learning Store as part of your employer’s a2z Learning Store Business learning and development program,
    you can consult our Udemy Business Privacy Statement.</p>
<p><strong><b>If you live in Bangladesh, by agreeing to these Terms, you agree to resolve disputes with a2z Learning Store through binding arbitration (with very limited exceptions, not in court), and you waive certain rights to
    participate in class actions, as detailed in the Dispute Resolution section.</b></strong></p>
<h2>1. Accounts</h2>
<p>You need an account for most activities on our platform. Keep your password somewhere safe, because you’re responsible for all activity associated with your account. If you suspect someone else is using your account, let us
    know by contacting our Support Team. You must have reached the age of consent for online services in your country to use a2z Learning Store.
</p>
<hr>
<p>You need an account for most activities on our platform, including to purchase and access content or to submit content for publication. When setting up and maintaining your account, you must provide and continue to provide
    accurate and complete information, including a valid email address. You have complete responsibility for your account and everything that happens on your account, including for any harm or damage (to us or anyone else) caused
    by someone using your account without your permission. This means you need to be careful with your password. You may not transfer your account to someone else or use someone else’s account. If you contact us to request access to an account, we will not grant you such access unless you can provide us with the information
    that we need to prove you are the owner of that account. In the event of the death of a user, the account of that user will be closed.</p>
<p>You may not share your account login credentials with anyone else. You are responsible for what happens with your account and Udemy will not intervene in disputes between students or instructors who have shared account login
    credentials. You must notify us immediately upon learning that someone else may be using your account without your permission (or if you suspect any other breach
    of security) by contacting our Support Team. We may request some information from you to confirm that you are indeed the owner of your account.</p>
<h2>2. Student Account</h2>
<p>When you enroll in a course or other content, you get a license from us to view it via the Udemy Services and no other use. Don’t try to transfer or resell content in any way. We generally grant you a lifetime
    access license, except when we must disable the content because of legal or policy reasons or for enrollments via Subscription Plans.</p>
<hr>
<p>Under our Instructor Terms, when instructors publish content on a2z Learning Store, they grant Udemy a license to offer a license to the content to students. This means that we have the right to sublicense the content to enrolled students. As a student, when you enroll in a course or other content, whether it’s free or paid content, you are getting a license from Udemy to view the content via the Udemy platform and Services, and Udemy is the licensor of record. Content is licensed, and not sold, to you. This license does not give you any right to resell the content in any manner (including by sharing account information with a purchaser or illegally downloading the content and sharing it on torrent sites).

In legal, more complete terms, a2z Learning Store grants you (as a student) a limited, non-exclusive, non-transferable license to access and view the content for which you have paid all required fees, solely for your personal, non-commercial, educational purposes through the Services, in accordance with these Terms and any conditions or restrictions associated with the particular content or feature of our Services. All other uses are expressly prohibited. You may not reproduce, redistribute, transmit, assign, sell, broadcast, rent, share, lend, modify, adapt, edit, create derivative works of, sublicense, or otherwise transfer or use any content unless we give you explicit permission
    to do so in a written agreement signed by a a2z Learning Store authorized representative. This also applies to content you can access via any of our APIs.</p>
<h2>3. Teacher's Account</h2>
<p>You can only use a2z Learning Store for lawful purposes. You’re responsible for all the content that you post on our platform. You should keep the reviews, questions, posts, courses and other content you upload in line with our Trust & Safety Guidelines and the law, and respect the intellectual property rights of others.
    We can ban your account for repeated or major offenses. If you think someone is infringing your copyright on our platform, let us know.</p>
<hr>
<p>You may not access or use the Services or create an account for unlawful purposes. Your use of the Services and behavior on our platform must comply with applicable local or national laws or regulations of your country. You are solely responsible for the knowledge of and compliance with such laws and regulations that are applicable to you.

If you are a student, the Services enable you to ask questions to the instructors of courses or other content you are enrolled in, and to post reviews of content.
    For certain content, the instructor may invite you to submit content as “homework” or tests. Don’t post or submit anything that is not yours.</p>
</div>


{% endblock content %}